* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  height: 5000px;
}
/*Start Upbar*/
.up-bar {
  color: #fff;
  padding: 10px 0;
}

.up-bar .upbar-media {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 10px;
}
.up-bar .upbar-media li i {
  margin-right: 12px;
  font-size: 14px;
  align-items: center;
}

.up-bar .upbar-info {
  display: flex;
  justify-content: right;
  align-items: center;
}

.up-bar .upbar-info > div {
  padding-left: 10px;
  font-size: 14px;
}
.up-bar .upbar-info > span {
  padding-left: 10px;
  font-size: 13px;
}
.up-bar .upbar-info i {
  color: #f7be49;
}
/*ُEnd Upbar*/

/* Start main-carousel */

.carousel {
  position: relative;
}
.carousel-text {
  position: absolute;
  z-index: 2;
}

.carousel-main .carousel-item {
  height: 100vh;
  background-size: cover;
}
.carousel-text h1 {
}
.carousel-text p {
}
.carousel-text a {
  background-color: #ffc527;
  padding: 11px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  color: #222;
}
.carousel-item.one {
  background-image: url(../image/slide-bg-1.jpg);
}
.carousel-item.tow {
  background-image: url(../image/slide-bg-2.jpg);
}
.carousel-item.three {
  background-image: url(../image/slide-bg-3.jpg);
}

/* end main-carousel */

/* start DONE & DUSTED */
.done-dusted .done-btn {
  background-color: #ffc527;
  padding: 11px;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 600;
  color: #222;
}
.done-title {
  position: relative;
}
.done-title h2::after {
  content: "";
  position: absolute;
  top: 3rem;
  height: 4px;
  width: 120px;
  background-color: #ffc527;
  right: 0;
}
/* end DONE & DUSTED */

/* start carousel-done*/

.carousel-item {
}
.carousel-control-next,
.carousel-control-prev {
  background-color: #ccc;
  opacity: 0.5;
  height: 50px;
  width: 50px;
  top: 30%;
  border: 0 none;
  border-radius: 50%;
}

/*end carousel-done*/
/*Start Best-Construction*/
.Best-Construction {
  background-color: #eee;
}
.Best-Construction .cards {
  margin: auto;
}
.Best-Construction .cards .card-title {
  font-size: 24px;
  font-weight: 600;
}
.Best-Construction .card-btn {
  display: inline-block;
  border: 1px solid #222;
  padding: 10px;
  font-size: 14px;
  color: #222;
  text-decoration: none;
  font-weight: 500;
}
.Best-Construction .card-btn:hover {
  color: #fff;
  background-color: #222;
  transition: 0.5s ease-in-out;
}

.Best-Construction .image {
  height: 182px;
  background-size: cover;
}
.Best-Construction .card-one .image {
  background-image: url(../image/service-item-bg-1.jpg);
}
.Best-Construction .card-tow .image {
  background-image: url(../image/service-item-bg-2.jpg);
}

/*  Best-Construction three images*/

.three-images .best-title {
  margin-bottom: 32px;
  position: relative;
  margin-right: 50px;
}
.three-images .best-title::after {
  content: "";
  position: absolute;
  top: 37px;
  height: 4px;
  width: 70px;
  background-color: #ffc527;
  right: 0;
}
.three-images img {
  float: right;
  margin-left: 21px;
}
.three-images .single-block {
  color: #222;
  text-decoration: none;
  font-size: 15px;
  display: block;
}
.three-images .single-block:not(:last-child) {
  color: #222;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

/*End Best-Construction*/
