/* Start up bar media */
@media (max-width: 478px) {
  .up-bar {
    display: none;
  }
}

@media (min-width: 320px) {
  .up-bar {
    display: none;
  }
}

/*end upbar media */

/* Start main-carousel */

@media (min-width: 768px) {
  .carousel-text {
    text-align: center;
    color: #fff;
    top: 27%;
    left: 0%;
  }
  .carousel-text h1 {
    font-size: 43px !important;
  }
  .carousel-text p {
    font-size: 23px !important;
  }
}

@media (min-width: 992px) {
  .carousel-text {
    color: #fff;
    top: 16%;
    left: 14%;
  }
  .carousel-text h1 {
    font-size: 47px !important;
  }
  .carousel-text p {
    font-size: 23px !important;
  }
}

/* start DONE & DUSTED carousel */

@media (max-width: 478px) {
  .carousel-inner {
    margin-bottom: 50px;
  }
}

/* end DONE & DUSTED carousel */

/*start WHY CHOOSE US */

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .why-choode-us .choose-us-blocks .choose-one img,
  .why-choode-us .choose-us-blocks .choose-tow img {
    width: 100%;
  }
}
/*end WHY CHOOSE US */

/* start OUR TESTIMONIALS*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .our-testimonials .row {
    justify-content: right;
    align-items: center;
  }
}

@media (max-width: 478px) {
  .our-testimonials .testimonials-title p::after {
    right: 3px !important;
  }
  .our-testimonials .testimonials-title p {
    font-size: 26px !important;
  }
}
/* end OUR TESTIMONIALS*/

/*start lastest*/

@media (min-width: 768px) {
  .lastest-news .our-cards .card {
    flex: 1;
  }
  .our-cards .card {
    margin-left: 25px;
  }
}
@media only screan and (min-width: 576px) and (max-width: 767px) {
  .lastest-news .our-cards .card {
    width: 100%;
  }
}
/*end lastest*/

/*statr subscripe*/
@media (min-width: 992px) {
  .subscrib-cover .info p {
    padding: 0 12rem;
  }
}
@media only screen and (max-width: 767px) {
  .subscrib-cover .form-co .sub-btn,
  .subscrib-cover .form-co .sub-input {
    border-radius: 0;
    width: 100%;
    padding: 0;
  }
  .subscrib-cover .form-co .sub-btn button,
  .subscrib-cover .form-co .sub-input input {
    border-radius: 0;
  }
  .subscrib-cover .info h1 {
    font-size: 33px !important;
  }
  .subscrib-cover .info p {
    width: 100% !important;
  }
}

/*end subscripe*/
/*start footer*/
@media (min-width: 320px) {
  footer .footer-form input {
    width: 100%;
  }
}

/*end footer*/
