/* Start upbar media */
@media (max-width: 478px) {
  .up-bar .upbar-info {
    display: flex;
    flex-direction: column;
  }
  .up-bar .upbar-info > div {
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 70px;
    text-align: center;
  }
  .up-bar .upbar-info > span {
    display: none;
  }
}

/*end upbar media */

/* Start main-carousel */

@media (max-width: 478px) {
  .carousel-text {
    text-align: center;
    color: #fff;
    top: 16%;
  }
}
.carousel-text h1 {
  font-size: 35px;
  margin-bottom: 40px;
}
.carousel-text p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 30px;
}

/* start DONE & DUSTED carousel */

@media (max-width: 478px) {
  .carousel-inner {
    margin-bottom: 50px;
  }
}

/* end DONE & DUSTED carousel */

/* start  Best-Construction */

@media (max-width: 478px) {
  .Best-Construction {
  }

  .three-images .single-block {
  }
}

/* end  Best-Construction */
